@{
    ViewBag.Title = "Početna";
}

<h2>Početna</h2>

<div>
    <h2>Dobrodošli na portal za prijavu seminara</h2>
    <p>Na  ovom <a href="~/Seminari/Popis">linku</a> ćete pronaći popis svih seminara na koje se možete prijaviti.</p>
    <p>
        Ukoliko se želite prijaviti na neki od seminara potrebno je kliknuti na "Predbilježba", potom upisati tražene podatke
        Nakon unešenih podataka, kliknite na "Pošalji".
        Ako je prijava napravljena dobro, kontaktirat će vas netko iz naše službe.

        Za sva dodatna pitanja možete se javiti na mail.
    </p>
</div>